<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <p class="alert alert-success">
      You have recieved a messgae from the site's contact form, from <%= '#{@name}, #{@email}.' %>
    </p>
    
    <p><%= body %></p>

  </body>
</html>